Repository irish1986/dotfiles, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ansible, area/config, area/docs, area/github, area/pre-commit, area/scripts, area/vscode

.github/labeler.yml:

---
# Areas
area/ansible:
  - changed-files:
      - any-glob-to-any-file:
          - "ansible.cfg"
          - -".config/.ansible-lint.yml"
          - "collections/**/*"
          - "main.yml"
          - "post_tasks/**/*"
          - "pre_tasks/**/*"
          - "roles/**/*"
area/config:
  - changed-files:
      - any-glob-to-any-file:
          - ".config/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"
area/pre-commit:
  - changed-files:
      - any-glob-to-any-file:
          - ".pre-commit-config.yaml"
area/scripts:
  - changed-files:
      - any-glob-to-any-file:
          - "scripts/**/*"
area/vscode:
  - changed-files:
      - any-glob-to-any-file:
          - ".vscode/**/*"

feat: update git config
  .github/workflows/label-sync.yml
  .github/workflows/labeler.yaml
  .github/workflows/repo.yml
  .pre-commit-config.yaml
  inventory/group_vars/sample.yml
  roles/git/tasks/files/.gitconfig
  roles/git/tasks/files/.gitignore
  roles/git/tasks/files/allowed_signers
  roles/git/tasks/main.yml
  roles/zsh/tasks/Ubuntu.yml
Labels: area/ansible, area/github, area/pre-commit

feat: dns service
  .github/workflows/label-sync.yml
  .github/workflows/labeler.yaml
  .vscode/extensions.json
Labels: area/github, area/vscode

Update README.md
  README.md
Labels: area/docs

feat: add zsh kubectl
  roles/git/files/.gitignore
  roles/git/tasks/files/allowed_signers
  roles/git/tasks/main.yml
  roles/git/templates/allowed_signers.j2
Labels: area/ansible

refactor: big update
  .pre-commit-config.yaml
  .vscode/extensions.json
  README.md
  main.yml
  roles/chocolatey/tasks/Windows.yml
  roles/chocolatey/tasks/main.yml
  roles/chrome/tasks/Ubuntu.yml
  roles/chrome/tasks/main.yml
  roles/ggshield/files/auth_config.yaml
  roles/ggshield/tasks/Ubuntu.yml
  roles/ggshield/tasks/main.yml
  roles/nordvpn/tasks/Ubuntu.yml
  roles/nordvpn/tasks/main.yml
  roles/notes/tasks/Ubuntu.yml
  roles/obsidian/tasks/Ubuntu.yml
  roles/obsidian/tasks/main.yml
  roles/powershell/tasks/Ubuntu.yml
  roles/powershell/tasks/main.yml
  roles/precommit/files/.pre-commit-config.yaml
  roles/precommit/tasks/Ubuntu.yml
  roles/precommit/tasks/main.yml
  roles/python/tasks/Ubuntu.yml
  roles/steam/tasks/Ubuntu.yml
  roles/steam/tasks/main.yml
  roles/system/files/elevated-state.json
  roles/system/files/settings.json
  roles/system/tasks/Ubuntu.yml
  roles/system/tasks/main.yml
  roles/zsh/files/.zshenv
  roles/zsh/files/.zshrc
  roles/zsh/tasks/Ubuntu.yml
  scripts/setup
Labels: area/ansible, area/docs, area/pre-commit, area/scripts, area/vscode

ci: fix CI with new reuseable workflows
  .github/workflows/branch.yml
  .github/workflows/cron.yml
  .github/workflows/label-sync.yml
  .github/workflows/labeler.yaml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/renovate.yml
  .github/workflows/repo.yml
  roles/ssh/tasks/Ubuntu.yml
  roles/system/tasks/Ubuntu.yml
Labels: area/ansible, area/github

refactor: change signing key strategy
  roles/git/tasks/main.yml
  roles/git/templates/allowed_signers.j2
Labels: area/ansible

chores: pre-commit autoupdate
  .pre-commit-config.yaml
Labels: area/pre-commit

feat: fixing python uv
  main.yml
  roles/python/tasks/Ubuntu.yml
  roles/zsh/files/.zshaliases
  roles/zsh/files/.zshrc
Labels: area/ansible

feat: fixing python uv
  main.yml
  roles/python/tasks/Ubuntu.yml
Labels: area/ansible

feat: fixing python uv
  main.yml
Labels: area/ansible

feat: fixing python uv
  inventory/group_vars/sample.yml
Labels: none

feat: update ssh role
  collections/windows.yml
  inventory/group_vars/sample.yml
  main.yml
  roles/ssh/default/main.yml
  roles/ssh/handlers/main.yml
  roles/ssh/tasks/Ubuntu.yml
Labels: area/ansible

fix: pre-commit skip
  .github/workflows/cron.yml
  .github/workflows/main.yml
  .github/workflows/pr.yml
Labels: area/github

fix: pre-commit skip
  .github/workflows/branch.yml
  .github/workflows/cron.yml
  .github/workflows/main.yml
  .github/workflows/pr.yml
Labels: area/github

fix: ssh variables
  inventory/group_vars/sample.yml
Labels: none

fix: yaml lint trufflehog
  .config/.yaml-lint.yml
  roles/trufflehog/tasks/Ubuntu.yml
Labels: area/ansible, area/config

fix: ssh variable missing
  inventory/group_vars/sample.yml
Labels: none

fix: notes repo var
  inventory/group_vars/sample.yml
Labels: none

fix: notes repo var
  inventory/group_vars/sample.yml
Labels: none

fix: ssh roles
  main.yml
  roles/btop/files/btop.conf
  roles/docker/handlers/main.yml
  roles/docker/tasks/Ubuntu.yml
  roles/git/tasks/main.yml
  roles/ssh/tasks/Ubuntu.yml
  roles/system/files/elevated-state.json
  roles/system/files/settings.json
  roles/system/tasks/main.yml
Labels: area/ansible

fix: win terminal settings
  roles/system/files/settings.json
Labels: area/ansible

fix: python pipx package
  roles/python/tasks/Ubuntu.yml
  roles/system/tasks/Ubuntu.yml
Labels: area/ansible

feat: add p10k config
  roles/zsh/files/.p10k
Labels: area/ansible

fix: zsh autocomplete issue
  roles/zsh/tasks/Ubuntu.yml
Labels: area/ansible

feat: update pre-commit
  .pre-commit-config.yaml
Labels: area/pre-commit

feat: update pre-commit
  .pre-commit-config.yaml
Labels: area/pre-commit

Create copilot-instructions.md
  .github/copilot-instructions.md
Labels: area/github
